.App{
  position:absolute;
  background-color: beige;
}
.checkoutform{
  background-color: white;
  position:absolute;
  z-index:1;
  margin-left:25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px black solid;
  position:right center;
}
/* first page */
.firstpage--image{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(5px);
}

.firstpage--image-above{
 padding:2%;
 position:relative;
 z-index:1;
}
.firstpage--title{
  color:white;
  font-size: 50px;
}
.firstpage--para {
  color: black ;
  font-weight: 700;
  font-size: 1.5rem;
  width:50rem;
  font-style: italic;
}
.firstpage--button{
  background-color: black;
  margin-top: 4%;
  color: white;
  padding:1%;
  width:90px;
  font-weight: 500;
  font-size: 15px;
}
.firstpage--button:hover{
  background-color:gray;
  cursor:pointer;
}

nav{
  background-color: black;
}
.nav--firstline{
  display:flex;
  flex-wrap:wrap;
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
  justify-content: space-between;
}
.nav--title{
  color:white;
  font-weight:bold;
  font-size: 40px;
}
.nav--search-bar{
  display: flex;
  flex-direction: row;
  gap: 2%;
  width: 400px;
}
.nav--search-input{
  height:10px;
  width:500px;
  border-radius: 5px;
}
.nav--search-icon{
  height:29px;
  width:40px;
  border-radius: 5px;
}
.nav--limited-offer{
  color:white;
  margin:auto;
  font-size: larger;
  text-decoration: underline;
  text-decoration-color: green;
  margin: auto;
}
.nav--secondline{
  justify-content: center;
  align-items: center;
  display:flex;
}
.nav--categories{
  text-decoration: none;
  padding:2% 2%;
  color:white;
  position: relative;
}

.nav--categories:hover{
  text-decoration: none;
  color:gray;
  cursor: pointer;
}

.dropdown--container {
  padding-left: 2%;
  padding-right: 2%;
  position: inherit;
  display: inline-block;
}
.dropdown--container .nav--categories {
  cursor: pointer;
}
.dropdown--menu {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown--menu a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown--container:hover .dropdown--menu {
  display: block;
}

.nav1--secondline{
  justify-content: center;
}
.nav1--categories{
  padding:2% 2%;
  color:white;
}
.nav1--categories:hover{
  color:gray;
  cursor: pointer;
}
.nav--cart{
  display:flex;
}
.nav--cart-icon{
  color:white;
  font-size: 35px;
  margin-right:50px;
}
.nav--wishlist{
  color:white;
  font-size: 35px;
}
.nav--wishlist:hover{
  color:gray;
}
.nav--cart-icon:hover{
  color:gray;
}
i{
  margin-right:5%;
}

/* Product Details */
.product-details{
  background-color: beige;
}
.product-details--title{
  color: #1b2741;
  font-size: 1.5rem;
  display:flex;
  flex-direction: row;
  padding:1% 4%;
}
.product-details--titledash{
  font:40px bolder;
  font-weight: 700;
}
.product-details--originalprice{
  color:maroon;
}
.product-details--stars{
  display:flex;
  flex-direction: row;
  margin-left:auto;
  margin-top:auto;
  margin-bottom:auto;
}
.product-details--colour{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
/* .product-details--imagedash{
  width:250px;
  height:250px;
} */
.outer-circle{
  border:2px solid gray;
  border-radius:50%;
  margin:0.5%;
}
.color{
  width:20px;
  height:20px;
  border-radius:50%;
  margin:0.5%;
  border:2px solid white;
}
.color:hover{
  width: 27px;
}
.product-details--image{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* width:250px;
  height:250px; */
}
.product-details--image img{
  width:250px;
  height:250px;
}
.product-details--description{
  /* width: 50rem; */
  padding-left: 4%;
  padding-right: 4%;
  font-size: 16px;
}
.product-details--price{
  padding-left: 4%;
  color: #1b2741;
  font-size: 1.8rem;
}
.product-details--addToCart,.product-details--buyNow{
  width:100%;
  height:40px;
  border-radius: 7px;
  border:none;
  background-color: var(--textColor);
  color: var(--sectionBack);
  text-transform: capitalize;
  cursor: pointer;
  transition:  .5s;
  margin: 7px;

  font-size:20px;
}
.product-details--addToCart:hover,.product-details--buyNow:hover{
  transform: scale(1.01);
}
.product-details--buy{
  display:flex;
  justify-content:center;
  margin:2.5%;
}
.product-details--readmode{
  color:blue;
  font-size:14px;
  cursor:pointer;
}

/* About */

.about {
  padding: 5rem 3rem 3rem 3rem;
  background: beige;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.column {
  width: 50%;
  padding-right: 2rem;
}

.column:nth-child(2) {
  padding-left: 2rem;
}

.column .tabs {
  display: flex;
  justify-content: flex-start;
}

.single-tab {
  background: white;
  margin-right: 10px;
  cursor: pointer;
}

.single-tab h2 {
  display: block;
  padding: 10px 16px;
  border-radius: 4px;
  color: #3c3c3c;
  font-size: 14px;
  font-weight: 600;
}

.about-img {
  position: relative;
  background-image: url("https://images.pexels.com/photos/1598505/pexels-photo-1598505.jpeg?cs=srgb&dl=pexels-mnz-1598505.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 600px;
  width: 100%;
}

.content {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: none;
}

.active-content {
  display: block;
}

.active-tab {
  background: black;
  position: relative;
}

.active-tab::before {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: black;
}

.active-tab h2 {
  color: white;
}

.content h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 1em;
}

.content p {
  padding-bottom: 1em;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: black;
}


.skills-row {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skills-column {
  margin-bottom: 30px;
  margin-right: 20px;
}

.progress-wrap h3 {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.progress {
  height: 8px;
  background: rgba(0, 0, 0, 0.05);
  overflow: visible;
}

.progress-bar {
  width: 80%;
  height: 8px;
  background: black;
  line-height: 1.2;
  position: relative;
  border-radius: 2px;
}

.progress-bar span {
  position: absolute;
  top: -30px;
  right: 0;
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.exp-column h3 {
  margin-bottom: 10px;
}

.exp-column span {
  font-weight: 700;
  color: black;
}

.exp-column p {
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .about {
    padding: 2rem 1rem 3rem 1rem;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .about-img {
    height: 500px;
  }

  .row .column {
    width: 100%;
  }

  .tabs {
    padding-top: 3rem;
  }

  
}

/* wishlist */
/* .wishlist--container{
  padding:4%; */
/* } */
.wishlist {
  padding: 2%;
  background-color:beige;
  border: 1px solid #ddd;
  border-radius: 5px;
  /* margin-bottom: 20px; */
}

.wishlist--items{
  display: flex;
  flex-direction: row;
  margin:auto;
  background-color: white;
  border-radius:2%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom:2%;
}
.wishlist--title{
  padding-bottom: 2%;
  margin:auto;
  display:flex;
  justify-content: center;
}
.wishlist--titlesymbol{
  padding-top:2%;
  margin:auto;
  display:flex;
  justify-content: center;
}
.wishlist--image{
  margin-right:auto;
  padding-left:2%;
}
.wishlist--image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}
.wishlist--title{
  margin:auto;
}
.wishlist--price,.wishlist--addtocart{
  margin: auto;
}
.wishlist--title h3 {
  margin: 0;
  font-size: 18px;
}

.wishlist button{
  margin:auto;
  font-size: 12px;
  border-radius: 6px;
  padding:6px 15px;
  border:none;
  background-color: var(--textColor);
  color: var(--sectionBack);
  text-transform: capitalize;
  cursor: pointer;
  transition:  .5s;
}
.wishlist button:hover{
  transform:scale(1.05);
}

/* card */
.card{
  width:200px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding:2%;
  border-radius:5%;
  margin:2%;
}
.cardsthree{
  display:flex;
  justify-content: space-around;
  padding:2%;
}
#card--icon{
  display: flex;
  justify-content: center;
  font-size: 50px;
}
.card--title{
  font-weight:bold;
  font-size:larger;
  text-align: center;
}
.card--description{
  color:gray;
  text-align: center;
}
.footer{
  background-color: #000;
}
.footer--firstline{
  display:flex;
  justify-content: space-around;
  padding:2%;
  padding-left: 0%;
}
.footer--subscribe--input{
  display: flex;
  flex-direction: row;
  gap: 2%;
  height: 30px;
  width: 300px;
}
.footer--join--button{
  height: 30px;
}
.footer--subscribe{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  color:white
}
.footer--contactno,.footer--emailid{
  color:white;
}
.contactus{
  display:flex;
  padding:2%;
  justify-content:center;
}
.contactus--icon{
  color:white;
  margin:0% 2%;
}
.contactus--icon:hover{
  color:gray;
}
.contactus--copyright{
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
  color:white
}

.contact--link:hover{
  color:gray;
}

.footimage{
  width:100%;
  height:100%;
}

/* carousel */
.carousel{
  display:flex;
  flex-wrap:wrap;
  /* margin:auto; */
  /* justify-content: center; */
}
.carousel-container {
  width: 100%;
  height: 50vh; /* Set the height of the carousel to 60% of the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  padding:1.5% 4%;
}

.carousel {
  position: relative;
  width: 100%; /* Set the width of the carousel to 60% of the viewport width */
  height: 100%;
  overflow: hidden;
  margin: 0 auto; /* Center the carousel horizontally within the container */
}

.carousel-slide {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-slide.active {
  opacity: 1;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* shopping cards */
.salescards{
  display:flex;
  flex-wrap:wrap;
  margin:auto;
  justify-content: center;
}
.shoppingcard{
  position:relative;
  width: 200px;
  height: 100%;
  margin: 2%;
  box-shadow: 0 5px 20px rgba(0,0,0,.3);
  display:flex;
  flex-direction:column;
  padding: 20px 20px 20px;
  border-radius:10px;
  transition: .3s; 
}
.shoppingcard:hover{
  transform : translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0, .2);
}
.shoppingcard--image{
  width:100%;
  height:100%;
  position: relative;
}
.shoppingcard--image img{
  width:200px;
  height:250px;
}
.shoppingcard--icons{
  position: absolute;
  z-index: 1;
  opacity:0.5;
  display: flex;
  padding:2%;
}
.shoppingcard--name{
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor:pointer;
}
.shoppingcard--originalprice{
  color:maroon;
}
.shoppingcard--price{
  display: flex;
  justify-content: right;
}
.shoppingcard--stars{
  margin-right: 2px;
}
.shoppingcard--description{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  margin-bottom: 10px; 
}
.shoppingcard--buy{
    padding:2%;
    bottom: 20px;
    right: 20px;
    
}

.shoppingcard--buy button{
  padding: 10px 20px;
  border-radius: 7px;
  border:none;
  background-color: var(--textColor);
  color: var(--sectionBack);
  font-size: 10px;
  text-transform: capitalize;
  cursor: pointer;
  transition:  .5s;
  margin: 2px;
}

.shoppingcard--buy button:hover{
  transform: scale(1.05);
}

.shoppingcard--wishlist{
  color:white;
  border:black;
  outline-color: black;
}
:root{
  --bodyBack:#ffeaed;
  --textColor:#1b2741;
  --starColor:#f67034;
  --sectionBack:#f7f6f9;
}

/* biling form */
.checkout-form--container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.checkout-form {
  background-color: beige;
  margin: 2%;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 700px;
}

.checkoutform--title {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.checkoutform--close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: black;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  padding: 5px 10px;
}

.checkoutform--close:hover {
  background-color: grey;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-row {
  display: flex;
  gap: 1rem;
}

.card-details {
  margin-top: 1.5rem;
}

.checkoutform--visamatercardicon {
  width: 100px;
  height: auto;
  margin-bottom: 1rem;
}

.checkoutform--onsubmit {
  width: 100%;
  height: 40px;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.checkoutform--onsubmit:hover {
  background-color: grey;
}

/* .modal */
.modal {
  background-color: #fff;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal--closeBtn {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal--closeBtn button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #999;
  transition: color 0.3s;
}

.modal--closeBtn button:hover {
  color: #555;
}

.modal--text {
  text-align: center;
  margin-bottom: 20px;
}

.modal--text h1 {
  font-size: 24px;
  color: #333;
}


/* cart */
/* .cart--container{
  padding: 4%; */
/* } */
.cart {
  padding: 20px;
  background-color: beige;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  
}

.cart--items{
  display: flex;
  flex-direction: row;
  margin:auto;
  background-color: white;
  border-radius:2%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom:2%;
}
.cart--title {
  display:flex;
  justify-content: center;
  margin:auto;
  padding: 2%;
}
.cart--quantity{
  display: flex;
  flex-direction:row;
}
.cart--remove,.cart--quantity-qty,.cart--quantity-decrease,.cart--quantity-increase{
  margin:auto;
}
.cart--image{
  margin-right:auto;
  padding-left:2%;
}
.cart--image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}
.cart--title{
  margin:auto;
}
.cart--price{
  margin: auto;
}
.cart--title h3 {
  margin: 0;
  font-size: 18px;
}
.cart--quantity {
  margin: auto;
}

.cart--footer{
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.cart button,.cart--footer button{
  font-size: 12px;
  border-radius: 6px;
  padding:6px 15px;
  border:none;
  background-color: var(--textColor);
  color: var(--sectionBack);
  text-transform: capitalize;
  cursor: pointer;
  transition:  .5s;
}
.cart--footer button:hover,.cart button:hover{
  transform:scale(1.05);
}
.cart--footer-totalPrice{
  margin:4px;
}

/* account */

.registerform--container{
  display:flex;
  flex-direction: column;
}

.registerform{
  display: flex;
  justify-content: center;
  padding-top: 2%;
  padding-bottom:2%;
}
.registerform form{
  border:1px solid black;
  padding:2%;
  border-radius:2%;
  width:50%;
}

.registerform--title{
  display:flex;
  justify-content: center;
}

.registerform--onsubmit{
  width:200px;
  height:35px;
  background-color: black;
  color:white;
  font-size:15px;
}
.registerform--onsubmit button{
  display:flex;
  justify-content: center;

}
.registerform--onsubmit:hover{
  background-color:grey;
}

.registerform--toggle{
  color:blue;
  /* text-decoration: underline; */
  cursor:pointer;
}
.registerform--content
{
  padding:2%;
}
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="email"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* OrderDetails */

.order--container {
  display:flex;
  flex-direction:column;
  justify-content: center;
  padding:2% 10%;
} 

.order-details-card {
  background-color: beige;
  border:1px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding:2%;
  width:100%;
}
.greenColor{
  color:maroon;
}
.order--btn{
  height: 40px;
  width: 700px;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: black;
  color: white;
  font-size:20px;
  cursor:pointer;
  border-radius:4%;
}
.order--btn:hover{
  background-color: grey;
}
.order--btnContainer{
  padding:4%;
  display:flex;
  justify-content: center;
}

