
nav{
  background-color:black;
}
.nav--firstline{
  display:flex;
  padding-top: 1%;

}
.nav--title{
  color:white;
  font-weight:bold;
  margin:auto;
  font-size: 40px;
}
.nav--search-bar{
  margin:auto;
}
.nav--search-input{
  height:40px;
  width:300px;
  border-radius: 5px;
}
.nav--search-icon{
  height:46px;
  width:40px;
  border-radius: 5px;
}
.nav--limited-offer{
  color:white;
  margin:auto;
  font-size: larger;
  text-decoration: underline;
  text-decoration-color: green;
  margin: auto;
}
.nav--secondline{
  justify-content: center;
  display:flex;
}
.nav--categories{
  padding:2% 2%;
  color:white;
}
i{
  margin-right:5%;
}

.salescards{
  display:flex;
  flex-direction: row;
  padding:2%;
  margin:2%;
}
.card{
  width:200px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding:2%;
  border-radius:5%;
  margin:2%;
}
.cardsthree{
  display:flex;
  justify-content: space-around;
  padding:2%;
}
#card--icon{
  display: flex;
  justify-content: center;
  font-size: 50px;
}
.card--title{
  font-weight:bold;
  font-size:larger;
  text-align: center;
}
.card--description{
  color:gray;
  text-align: center;
}

.footer--firstline{
  display:flex;
  justify-content: space-around;
  padding:1%;
}
.footer--subscribe{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
.contactus{
  display:flex;
  padding:2%;
  justify-content:center;
}
.contactus--icon{
  color:black;
  margin:0% 2%;
}
.contactus--icon:hover{
  color:gray;
}
.contactus--copyright{
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
}

.contact--link:hover{
  color:gray;
}

/* shopping cards */

.shoppingcard{
  position:relative;
  width: 300px;
  height: 300px;
  margin:2%;
  box-shadow: 0 5px 20px rgba(0,0,0,.3);
  display:flex;
  flex-direction:column;
  padding: 20px 20px 40px;
  border-radius:10px;
  transition: .3s; 
}
.shoppingcard:hover{
  transform : translateY(-15px);
  box-shadow: 0 5px 10px rgba(0,0,0, .2);
}
.shoppingcard--image{
  width:100%;
  height:60%;
}
.shoppingcard--image img{
  width:244px;
}

.shoppingcard--price{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.shoppingcard--stars{
  margin: 10px 2px;
}

.shoppingcard--buy{
  position:absolute;
    bottom: 20px;
    right: 20px;
}

.shoppingcard--buy button{
  padding: 10px 20px;
  border-radius: 7px;
  border:none;
  background-color: var(--textColor);
  color: var(--sectionBack);
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
  transition:  .5s;
}

.shoppingcard--buy button:hover{
  transform: scale(1.1);
}

.shoppingcard--wishlist{
  color:white;
  border:black;
  outline-color: black;
}
